CYAN_DB_URL=jdbc:postgresql://localhost:5432/cyan_db
CYAN_DB_USERNAME=postgres
CYAN_DB_PASSWORD=postgres
CYAN_JWT_SECRET=cyan-streaming-super-secret-jwt-key-please-change
CYAN_JWT_EXPIRATION=86400000
